{% set ns = namespace(found=false) %}

{% if ansible_local.artifact is defined %}
{% for artifact in artifact_to_manage_absent %}
{% if ansible_local.artifact[artifact.id] is defined %}
{% set ns.found = true %}
- {{ ansible_local.artifact[artifact.id].download_path }}
{% for file in ansible_local.artifact[artifact.id].unarchived_files %}
{% set ns.found = true %}
- {{ file }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% if not ns.found %}
[]
{% endif %}
