{% set ns = namespace(found=false) %}

{%- macro fact(artifact, result={}) %}
{% set ns.found = true %}

"{{ artifact.id }}":

{% if artifact.type in ['gitlab', 'github', 'http', 'https'] %}
  download_path: "{{ artifact.dest }}/{{ artifact.file }}"
{% endif %}

{% if artifact.type in ['maven'] %}
  download_path: "{{ result.dest }}"
{% endif %}
{%- endmacro %}

{% for artifact in artifact_list
                   | selectattr('type', 'in', ['gitlab', 'github'])
                   | list %}
{{- fact(artifact) }}
  changed: {{ artifact_gitlab_clone_result.results[loop.index0] is changed
              or artifact_gitlab_reset_result.results[loop.index0] is changed
              or artifact_gitlab_checkout_result.results[loop.index0] is changed
              or artifact_gitlab_move_result.results[loop.index0] is changed
              or artifact_gitlab_cleanup_result.results[loop.index0] is changed
              or artifact_gitlab_attributes_result.results[loop.index0] is changed }}
{% endfor %}

{% for artifact in artifact_list
                   | selectattr('type', 'in', ['http', 'https'])
                   | list %}
{{- fact(artifact) }}
  changed: {{ artifact_http_result.results[loop.index0] is changed }}
{% endfor %}

{% for artifact in artifact_list
                   | selectattr('type', 'in', ['maven'])
                   | list %}
{{- fact(artifact, artifact_maven_result.results[loop.index0]) }}
  changed: {{ artifact_maven_result.results[loop.index0] is changed }}
{% endfor %}

{% if not ns.found %}
{}
{% endif %}
